/* General Styles */
body {
    margin: 0; 
    font-family: 'Poppins', sans-serif; /* Or your preferred font */
  }
  
  .container {
    height: 1940px;
  }
  
  section {
    height: 100vh;
    display: flex; /* For content alignment (optional) */
    flex-direction: column; /* Align content from top to bottom */
    justify-content: center; /* Center vertically (optional) */
    align-items: center; /* Center horizontally (optional) */
    background-size: cover;
    background-position: center;
  }
  
  .section1 {
    background-image: url('./img/VentureAll.png');
  }
  
  .section2 {
    background-image: url('./img/Venture02.png');
  }
  
  /* ...rest of your CSS... */

.nav_group {
    cursor: pointer;
    width:365px;
	height:21px;
	position:absolute;
	left:988px;
	top:36px;
    text-decoration: none;
	align-items: center;
	display: flex;
}

.Home {
    color:rgba(0, 0, 0, 1);
	width:42px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    text-decoration: none;
    cursor: pointer;
    transition: all .6s ease;
}

.Home:hover {
    transform: scale(1.02);
  }



.Partners {
    color:rgba(0, 0, 0, 1);
	width:59px;
	height:21px;
	position:absolute;
	left:70px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    text-decoration: none;
    cursor: pointer;
    transition: all .6s ease;
}

.Partners:hover {
    transform: scale(1.02);
  }



.FAQ {
    color:rgba(0, 0, 0, 1);
	width:28px;
	height:21px;
	position:absolute;
	left:157px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    text-decoration: none;
    cursor: pointer;
    transition: all .6s ease;
}

.FAQ:hover {
    transform: scale(1.02);
  }


.Coupons {
    color:rgba(0, 0, 0, 1);
	width:152px;
	height:21px;
	position:absolute;
	left:213px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
    cursor: pointer;
    text-decoration: none;
    transition: all .6s ease;
}

.Coupons:hover {
    transform: scale(1.02);
  }

button {
    max-width: 420px;
    border: hidden;
    display: flex;
    padding: 0.5rem 1.4rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .6s ease;
  }
  
  button:hover {
    transform: scale(1.02);
  }
.Button { 
	width:207px;
	height:40px;
	position:absolute;
	left:1986px;
	top:28px;
}
.Button_1 { 
	background-color:rgba(255, 255, 255, 1);
	width:237px;
	height:45px;
	position:absolute;
	left:-15px;
	top:0px;
	border-top-left-radius:29px;
	border-top-right-radius:29px;
	border-bottom-left-radius:29px;
	border-bottom-right-radius:29px;
}
.Button_1 { 
	border:1px solid rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
}
.Button_2 { 
	color:rgba(0, 0, 0, 1);
	width:px;
	height:21px;
	position:absolute;
	left:18px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}

.icon { 
	width:25px;
	height:25px;
	position:absolute;
	left:170px;
	top:10px;
}

.icon_1 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(./img/forward_button.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.date_11 { 
	background-color:rgba(212.76563107967377, 212.76563107967377, 212.76563107967377, 0.699999988079071);
	width:391px;
	height:42px;
	position:absolute;
	left:454px;
	top:870px;
	border-radius: 50%;
}

form {
	position: absolute;
	border-radius: 40px;
	padding: 20px;
	width: 300px;
	top: 80%;
	left: 535px;
	
}

  .lb {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	
}

.infos[type="text"], input[type="date"] {
	width: 430px;
	height: 30px;
	padding: 10px;
	font-size: 16px;
	border-radius: 50px;
	border: none;
	margin-bottom: 20px;
	background-color:rgba(189, 188, 188, 0.425);
	color: white;
}
#date {
	margin-left: auto;
	margin-right: auto;
	height: 2.5em;
	width: 31.5em;
	border-radius: 2.5em;
	border: none;
	background-color: rgb(255, 255, 255);
	-webkit-filter: drop-shadow(1px 1px 10px #000);
	filter: drop-shadow(4px 4px 5px #00000059);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(77, 77, 77);
	text-align: center;
	font-size: 14px;
	outline: 2px solid rgba(0, 0, 0, 0);
	transition: outline-offset 0.5s ease, outline-color 0.5s ease,
	  height 0.5s ease, width 0.5s ease, filter 0.5s ease;
  }
  .topico {
	display: block;
	padding: 10px;
	width: 100%;
	text-align: left;
  }
  .topico.selecionado {
	background-color: #f0f0f0;
  }

  ul {
    list-style: none;
}

.date_11 { 
	background-color:rgba(212.76563107967377, 212.76563107967377, 212.76563107967377, 0.699999988079071);
	width:391px;
	height:42px;
	position:absolute;
	left:454px;
	top:870px;
	border-radius: 50%;
}

.passagens {
	position: absolute;
	border-radius: 40px;
	padding: 20px;
	width: 300px;
	top: 80%;
	left: 1055px;
	
}

.passagens_nav {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	
}

#infos {
	width: 430px;
	height: 30px;
	padding: 10px;
	font-size: 16px;
	border-radius: 50px;
	border: none;
	margin-bottom: 20px;
	color: white;
}
.passagens {
	margin-left: auto;
	margin-right: auto;
	height: 2.5em;
	width: 31.5em;
	border-radius: 2.5em;
	border: none;
	background-color: rgb(255, 255, 255);
	-webkit-filter: drop-shadow(1px 1px 10px #000);
	filter: drop-shadow(4px 4px 5px #00000059);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(77, 77, 77);
	text-align: center;
	font-size: 14px;
	outline: 2px solid rgba(0, 0, 0, 0);
	transition: outline-offset 0.5s ease, outline-color 0.5s ease,
	  height 0.5s ease, width 0.5s ease, filter 0.5s ease;
  }